<div *ngIf="project">
    <h1>{{ project.title }}</h1>

    <mat-tab-group>
        <mat-tab label="Status">
            <ng-template matTabContent>
                <app-project-status [project]="project" (reloadProject)="fetchProject()"></app-project-status>
            </ng-template>
        </mat-tab>
        <mat-tab label="Settings">
            <ng-template matTabContent>
                <app-project-settings [project]="project"></app-project-settings>
            </ng-template>
        </mat-tab>
    </mat-tab-group>


</div>