.mat-card-header .mat-card-title {
    font-size: 15px;
}

.task-icon img {
    height: 40px;
    width: 40px;
}

.mat-card-text {
    margin-left: 10px !important;
    font-size: 18px;
}

mat-card {
    margin-bottom: 20px;
    cursor: pointer;
}