<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <div class="jumbotron">
            <div class="container-fluid">
              <h1 class="display-5">Welcome to JIZA Project Management</h1>
              <p class="lead">Solution for you project management where productivity is our passion.</p>
              <hr>
              <a routerLink="/register" mat-raised-button color="primary">Create your account now!</a>
            </div>
          </div>
      </div>
    </div>
</div>
