<br><br>
<div class="container-fluid" *ngIf="form">
    <div class="row">
        <div class="col-lg-4">
            <app-material-input appearance="outline" class="full-width" [control]="form.controls.title" label="Project Name"></app-material-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <app-material-textarea rows="5" appearance="outline" class="full-width" [control]="form.controls.description" label="Project Description"></app-material-textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-list>
                <h3 mat-subheader>Add Member</h3>
                <mat-list-item>
                    <app-material-autocomplete icon="person_add" class="full-width" (onSelect)="addMember($event)" [fetch]="autoCompleteOpt" label="Search User"></app-material-autocomplete>
                </mat-list-item>
                <h3 mat-subheader>Members ({{ _project.members.length }})</h3>
                <mat-list-item *ngFor="let member of _project.members">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <span>{{ member.fullname }}</span>
                    <span class="text-muted" *ngIf="member.id == _project.owner.id"> (Owner)</span>
                    <span class="text-danger ml-1" *ngIf="!member.pivot"> (Unsaved)</span>
                    <span class="text-danger ml-1" *ngIf="member._removing"> (To Remove)</span>
                    <span class="spacer"></span>
                    <button mat-icon-button title="Remove member" (click)="removeMember(member)" *ngIf="member.id != _project.owner.id
                              && !member._removing">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <button title="Undo removal" mat-icon-button (click)="undoRemoveMember(member)" *ngIf="member.id != _project.owner.id
                              && member._removing">
                      <mat-icon>undo</mat-icon>
                    </button>
                    <!-- <span>Developer</span> -->
                    <!-- <span>Joined {{ member.pivot.created_at | date }} </span> -->
                </mat-list-item>
            </mat-list>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-list>
                <h3 mat-subheader>Phases
                    <button mat-icon-button color="primary" (click)="createPhase()">
                        <mat-icon>add</mat-icon>
                    </button>
                </h3>
                <mat-list-item *ngFor="let phase of (_project.phases | sort: 'order'); let i = index">
                    <!-- <mat-icon matListIcon>library_books</mat-icon> -->
                    {{ i + 1 }}.
                    {{ phase.description | titlecase }}
                    <span class="text-muted" *ngIf="!phase.id">(Unsaved)</span>
                    <span class="spacer"></span>
                    <button mat-icon-button *ngIf="i > 0 && i < _project.phases.length - 1" (click)="editPhase(phase)">
                      <mat-icon>edit</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <br><br>
    <button mat-raised-button color="primary" [disabled]="form.dirty == false || isSaving" (click)="saveProject()"><mat-icon>save</mat-icon> {{ isSaving ? 'Saving...' : 'Save Changes' }}</button>
</div>
